.title{
    color:rgb(49, 47, 47);
}
.locationName{
    color: palevioletred;
}
.list_cookies {
    color:gray;
}

.top-text-container{

    color: brown;
    font-size: 27px;

}


#body{
    background-color: wheat;


}
nav {

    color: rgb(70, 35, 11);
    text-align: left;
    font-size: 16px;
}
table, td, th {  
  border: 1px solid gray;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}








